/*GENERAL STYLES*/
* {
  margin: 0;
  padding: 0;
  max-width: 910px;
  margin: auto;
}

html {
  height: 100%;
  background: #F4F7FF;
}

body {
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 5%;
}


/*COLUMNS*/
.container {
  height: 700px;
}

.left_column {
  float: left;
  margin-left: 1%;
  padding-left: 2%;
  width: 46%;
}

.right_column {
  float: left;
  margin-left: 3%;
  padding-right: 2%;
  width: 46%;
}

h1 { font-size: 2.3em; }
h2 { 
  font-size: 1.25em; 
  padding-bottom: 4%; 
  font-family: 'Oswald', sans-serif;
   }
h3 { font-size: 1em; }
h4 { font-size: .875em; }
h5 { font-size: .75em; color: gray; padding: 1% 0 2% 0; }
h6 { font-size: .625em; }
p  { font-size: .625em; padding-bottom: 3%; }
li { font-family: 'Raleway', sans-serif; padding-bottom: 2%; }
ul { list-style: none; }

header {
  margin: 5% 0 4% 0;
  text-align: center;
  width:100%;
  font-family: 'Oswald', sans-serif;
}

section {
  margin: 5% 0 5% 0;
}

#contact_details, #contact_details a {
  color: gray;
}

footer {
  background: black;
  border: 1px solid black;
  color: white;
  padding: 2% 0 2% 0;
  position: relative;
  text-align: center;
  width: 100%;
}

footer a {
  color: #F4F7FF;
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  h1 { font-size: 2em; }
}

@media only screen and (max-width: 480px) {
  h1 { font-size: 1.55em; }
  h2 { padding-bottom: 4%; text-align: center; }
  #education, li { text-align: center; }
  #contact, #skills, #education, #experience { padding-top: 5%;}
  .left_column {
    float: none;
    margin: 5% 4% 0 0;
    padding-left: 2%;
    width: 98%;
  }
  .right_column {
    float: none;
    margin: 5% 4% 0 0;
    padding-left: 2%;
    width: 96%;
  }
  .container {
    height: 100%;
  }
}
