@import 'components/colors';

/*///// GENERAL STYLES //////*/
* {
    margin: 0;
    padding: 0;
    // max-width: 910px;
    margin: auto;
}

html {
    height: 100%;
    font-size: 2vw;
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; 
        // margin: 5%;
    }
    #home, footer {
        width: 100%;
        background: linear-gradient( rgba($primary, 0.5), rgba($black, 0.5)),
        url(../../documents/woman-865111_1920.jpg) center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #section2 .row {
        max-width: 910px;
        margin: auto;
    }
}


/*///// HEADERS /////*/

h1 {
    font-size: 4.3em;
    font-weight: normal;
        // font-family: 'Raleway', sans-serif; 
    span {
        padding: 0px 15px; 
        // border: 2px solid black;
        // background: $white;
    }
}
h3 {
    font-size: 1.75em;
    span {
        padding: 0px 15px; 
        /* border: 2px solid black; */
        // background: $white;
    }
}


h2 {
    font-size: 1.25em;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    border: 1px solid $accent;
    background: $accent;
    margin: 0 0 10px 0 ;
}



h4 {
    font-size: .975em;
}

h5 {
    font-size: .875em;
    color: $primary;
    padding: 1% 0 2% 0;
}

h6 {
    font-size: .725em;
}

p {
    font-size: .725em;
    padding-bottom: 3%;
}

li {
    font-size: 1em;
    padding-bottom: 2%;
    color: $primary;
    i {
        padding-right: 10px;
    }
}

ul {
    list-style: none;
}



// nav {
//     width: 100%;
//     text-align: center;
//     ul {
//         display: flex;
//         li {
//             // display: inline;
//         }
//     }
// }



/*///// BODY STYLES  /////*/


#home,
#section2 {
    height: 100vh;
    // min-height: 100%;
}

header {
    text-align: center;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    padding: 40px 0px;
    height: 55%;
    color: $white;
}

.middle {
    height: 15%;
    color: $white;
    a {
        color: $white;
        padding: 0 10px;
        text-decoration: none;
        &:hover {
            color: $accent;
        }
    }
}

a.btn {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-size: 20px;
    padding: 10px 20px 10px 20px; // border: solid $primary 4px;
    // color: $primary;
    border: solid $white 4px;
    color: $white;
    text-decoration: none;
    &:hover {
        background: rgba($primary, .5);
        color: $white;
        text-decoration: none;
    }
}

a.btn_round {
    -webkit-border-radius: 100;
    -moz-border-radius: 12;
    border-radius: 100px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: $primary;
    color: $white;
    &:hover {
        // color: $primary;
        color: $accent;
        text-decoration: none;
    }
}

.row {
    display: flex;
    //   flex-direction: row;
    //   align-items: stretch;
    justify-content: space-between;
    height: 98%
}

.column {
    display: flex;
    flex-direction: column;
    //   align-items: stretch;
    // justify-content: space-between;
    margin: 0;
}

.left {
    flex: 1;
    margin: 5px;
    padding: 5px 10px;
}

.right {
    flex: 1.5;
    margin: 5px;
    padding: 5px 10px;
}

.card {
    margin: 0px 10px 5px 10px;
    padding: 5px 15px;
}

// #picture {
//     width: 70%;
//     height: auto;
//     img {
//         // border-radius: 100%;
//         width: 100%;
//         height: auto;
//     }
// }



#contact_details,
#contact_details a {
    color: $primary;
}

#experience section {
    margin-bottom: 1%;
}

/*///// FOOTER /////*/

footer {
    height: 2%;
    padding: 1% 0 1% 0;
    text-align: center;
    width: 100%;
    a {
        color: #F4F7FF;
        text-decoration: none;
        &:hover {
            color: $accent;
        }
    }
}


// /*///// MEDIA QUERIES /////*/

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 3.3em;
    }
    h2 {
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
    #section2 {
        height: 100%;
        .left {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 505px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        text-align: center;
    }
    h3 {
        font-size: 1.45em;
    }
}

@media only screen and (max-width: 370px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        text-align: center;
    }
    h3 {
        font-size: 1.25em;
    }
}

// UNCOMMENT IF ADDING #picture img to home page
// @media only screen and (max-width: 670px) and (orientation: landscape) {
//     #home {
//         // height: 100%;
//     }
//     #picture {
//         width: 40%;
//     }
// }