// @import "./components/_colors.scss";

/*///// GENERAL STYLES //////*/
* {
    margin: 0;
    padding: 0;
    max-width: 910px;
    margin: auto; 
}
  
html {
    height: 100%;
    background: #FFFFFF;
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        // margin: 5%;
    }
}
  
  


/*///// HEADERS /////*/
h1 { 
    font-size: 3.3em; 
    font-weight: normal;
    /* font-family: 'Raleway', sans-serif; */
}
h2 { 
    font-size: 1.25em; 
    font-family: 'Oswald', sans-serif;
}
h3 { font-size: 1.25em;  }
h4 { font-size: .875em; }
h5 { font-size: .75em; color: #7d7484; padding: 1% 0 2% 0; }
h6 { font-size: .625em; }
p  { font-size: .625em; padding-bottom: 3%; }
li { font-size: 1em; padding-bottom: 2%; color: #7d7484; }
ul { list-style: none; }
  
header {
    text-align: center;
    width:100%;
    font-family: 'Oswald', sans-serif;
    padding: 10px 0px;
}

nav {
    width: 100%;
    text-align: center;
    ul {
        display: flex;
        li {
            // display: inline;
        }
    }
}

h1 span {
    /* border: 2px solid black; */
    padding: 0px 15px;
    background: #ffffff;
  }
  h3 span {
    /* border: 2px solid black; */
    padding: 0px 15px;
    background: #ffffff;
  }
  
  
  
  /*///// BODY STYLES  /////*/
#home, #section2 {
  height: 100vh;
  // display: flex;
} 

.row {
  display: flex;
//   flex-direction: row;
//   align-items: stretch;
  justify-content: space-between;
//   flex-wrap: wrap;
}


.column {
  display: flex;
  flex-direction: column;
//   align-items: stretch;
  justify-content: space-between;
//   border: 2px solid black;
  margin: 2px;
}

.left {
  flex: 1;
//   margin: 5px;
}

.right {
  flex: 2;
//   margin: 5px;
}

.card {
  margin: 10px;
  padding: 15px;
//   border: 2px solid black;
}

#picture {
    width: 70%;
    height: auto;
}

img {
  border-radius: 100%;
  width: 100%;
  height: auto;
}



  section h2 {
    border: 1px solid #cdb8bd;
    background: #cdb8bd;
  }

  
  #contact_details, #contact_details a {
    color: #7d7484;
  }
  
  li i {
    padding-right: 10px;
  }
  
  
  
  
  /*///// FOOTER /////*/


  footer {
    background: black;
    border: 1px solid black;
    color: white;
    padding: 2% 0 2% 0;
    // position: relative;
    text-align: center;
    width: 100%;
  }
  
  footer a {
    color: #F4F7FF;
    text-decoration: none;
  }
  
  
  
  
  // /*///// MEDIA QUERIES /////*/
  @media only screen and (max-width: 670px) {
    h1 { font-size: 2.2em; }
    h2 { text-align: center; }

    .row {
      flex-direction: column;
    }

    #section2 {
      height: 100%;    
    } 
  }

  @media only screen and (max-width: 670px) and (orientation: landscape) {
    #home {
        // height: 100%;
    }
    #picture {
        width: 40%;
    }
}

@media only screen and (max-width: 670px) {
    h1 { font-size: 1.75em; }
    h2 { text-align: center; }
  }
